.infos-bar {
  display: flex;
  justify-content: space-between;

  padding: 1rem 1.5rem;

  background-color: #fff;

  &__infos {
    display: flex;
    gap: 2.5rem;

    &__item {
      font-size: 0.875rem;
      color: #000;

      b {
        display: block;
        font-size: 1.125rem;
        color: #000;
      }
    }
  }

  @media (max-width: 640px) {
    display: block;

    &__infos {
      display: block;

      &__item {
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (max-width: 1024px) {
    &__infos {
      gap: 1rem;
    }
  }
}
